.create-cv-wrapper {
  --shift-distance: 10px;
  --transition-duration: 500ms;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: padding calc(var(--transition-duration) / 2) ease-in-out;
  border-radius: 11px;
  padding-bottom: var(--shift-distance);
  box-shadow: inset 0 calc(var(--shift-distance) * -1) var(--text);
}

.create-cv-btn {
  background-color: var(--cv-bg);
  border: none;
  font-size: 3.374rem;
  border-radius: inherit;
  padding: 1rem;
  transition: transform calc(var(--transition-duration) / 2) ease-in-out;
}

.create-cv-btn span {
  line-height: 1.5;
}

.create-cv-wrapper:hover .create-cv-btn {
  transform: translateY(calc(var(--shift-distance) / 2));
  transition-duration: calc(var(--transition-duration) / 2);
}

.create-cv-wrapper:active .create-cv-btn {
  transform: translateY(var(--shift-distance));
  transition-duration: var(--transition-duration);
}

@media (prefers-reduced-motion: reduce) {
  .create-cv-btn,
  .create-cv-wrapper {
    transition: none;
    transition-duration: 0s;
  }
}
