.cv {
  width: 100vw;
  max-width: 800px;
  min-height: 100vh;
  display: grid;

  background-color: var(--cv-bg);
  animation: slide-in-from-top 500ms ease-in;
}

@media (prefers-reduced-motion: reduce) {
  .cv {
    animation: none;
    animation-duration: 0s;
  }
}
